{% extends 'users/index.html' %}
{% load static %}
{% load tailwind_filters %}

{% block content %}
<div class="flex flex-col justify-center font-[sans-serif] p-4">
    <div class="max-w-md w-full mx-auto shadow-xl2 shadow-lg shadow-blue-500/50  p-8 relative mt-12">
      <div class="bg-white w-24 h-24 border-[10px] p-1.5 absolute left-0 right-0 mx-auto -top-12 rounded-full overflow-hidden">
        <a href="javascript:void(0)"><img
          src="{% static 'images/logo1.png' %}" alt="logo" class='w-full inline-block' />
        </a>
      </div>
  
      <form class="mt-12" method="POST" action="">
        <h3 class="text-xl font-bold text-blue-500 mb-4 text-center">Reset your password</h3>
        <p class="text-sm mb-4 text-center text-gray-800">
          Enter your email and we'll send you a password reset link to help you get back on track.
        </p>
        <div class="space-y-4">
            {% csrf_token %}
            <input type="email" name="email" class="w-full p-2 mt-2 border rounded" placeholder="Email Address" required>
        </div>

        <div class="mt-4">
          <button type="submit" class="w-full mt-8 py-4 px-8 text-sm tracking-wide font-semibold text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">
          Send Reset Link
          </button>
        </div>
        {% comment %} <p class="text-sm mt-8 mb-4 text-center text-gray-800">Forgot password? <a href="{% url "users:register" %}" class="text-blue-500 font-semibold hover:underline ml-1">Click here to reset</a></p>
        <p class="text-sm mt-4 text-center text-gray-800">Don't have an account? <a href="{% url "users:register" %}" class="text-blue-500 font-semibold hover:underline ml-1">Sign up here</a></p> {% endcomment %}
      </form>
    </div>
  </div>
{% endblock %}
