{% extends 'users/index.html' %}
{% load static %}
{% load tailwind_filters %}

{% block content %}
<div class="flex flex-col justify-center font-[sans-serif] p-4">
    <div class="max-w-md w-full mx-auto shadow-xl2 shadow-lg shadow-blue-500/50  p-8 relative mt-12">
      <div class="bg-white w-24 h-24 border-[10px] p-1.5 absolute left-0 right-0 mx-auto -top-12 rounded-full overflow-hidden">
        <a href="javascript:void(0)"><img
          src="{% static 'images/logo1.png' %}" alt="logo" class='w-full inline-block' />
        </a>
      </div>
  
      <form class="mt-12" method="POST" action="">
        <h3 class="text-xl font-bold text-blue-500 mb-4 text-center">Password complete</h3>
        <p class="text-sm mb-4 text-center text-gray-800">
          Your password has been successfully reset.You can now log in.
        </p>
        {% comment %} <p class="text-sm mt-8 mb-4 text-center text-gray-800">Forgot password? <a href="{% url "users:register" %}" class="text-blue-500 font-semibold hover:underline ml-1">Click here to reset</a></p>
        {% endcomment %}
        <p class="text-sm mt-4 text-center text-gray-800">Back to login <a href="{% url "users:login" %}" class="text-blue-500 font-semibold hover:underline ml-1">Sign up here</a></p> {
      </form>
    </div>
  </div>
{% endblock %}
