

<div class="row animate__bounceIn">
  <div class="col-lg-3 col-md-4 label">Company Name</div>
  <div class="col-lg-9 col-md-8">{{ company.name }}</div>
</div>

<div class="row animate__bounceIn">
  <div class="col-lg-3 col-md-4 label">Company address</div>
  <div class="col-lg-9 col-md-8">{{ company.address }}</div>
</div>

<div class="row animate__bounceIn">
  <div class="col-lg-3 col-md-4 label">Mobile Contact</div>
  <div class="col-lg-9 col-md-8">{{ company.mobile }}</div>
</div>

<div class="row animate__bounceIn">
  <div class="col-lg-3 col-md-4 label">Email address</div>
  <div class="col-lg-9 col-md-8">{{ company.email }}</div>
</div>

<fieldset class="mb-3">
  <legend class="col-form-label col-sm-2 pt-0 animate__bounceIn">Payment Details</legend>
  <div class="row animate__bounceIn">
    <div class="col-lg-3 col-md-4 label">Pay Bill</div>
    <div class="col-lg-9 col-md-8">{{ company.paybill }}</div>
  </div>
  <div class="row animate__bounceIn">
    <div class="col-lg-3 col-md-4 label">Account Number</div>
    <div class="col-lg-9 col-md-8">{{ company.accountno }}</div>
  </div>
  <div class="row animate__bounceIn">
    <div class="col-lg-3 col-md-4 label">Till Number</div>
    <div class="col-lg-9 col-md-8">{{ company.tillno }}</div>
  </div>
</fieldset>

