{% load static %}

<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
        <img src="{% static 'landing/assets/img/about.jpg' %}" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
        <h3>About Us</h3>
        <p class="fst-italic" style="font-size: 20pt;">
          At Liparates, we are committed to simplifying the property rate payment process for all property owners. 
        </p>
        <p class="fst-italic" style="font-size: 20pt;">
          Our mission is to provide a seamless, secure, and user-friendly solution that saves you time and effort.
        </p>
        <ul>
      
        </ul>
        <a href="#" class="read-more">Read More <i class="bi bi-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
