<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
    </div>

    <div class="faq-list">
      <ul>
        {% for faq in faqs %}
          <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i>
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">{{ faq.question }} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
              <p>{{ faq.answer }}</p>
              {% if user.is_authenticated and user.is_staff %}
                <div class="faq-actions">
                  <div class="row mt-2">
                    <div class="col-md-6 col-lg-6">
                      <a type="button" class="btn btn-primary" href="#" data-toggle="modal" data-target="#edit">Edit</a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <a type="button" class="btn btn-danger" href="#" data-toggle="modal" data-target="#delete">Delete</a>
                    </div>
                  </div>
                </div>
                <!-- edit modal -->
                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addfaqLabel">Edit FAQ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                        <form action="" method="post">
                          {% csrf_token %}
                          <input type="text" name = "form-name" id="" value="edit"  hidden />
                          <input type="text" name="faq_id" id="" value="{{ faq.id }}"  hidden />
                          <div class="form-group">
                            <label for="questionHelp">Question</label>
                            <input type="text" class="form-control" id="questionHelp" name="question" aria-describedby="questionHelp" placeholder="Enter question" value="{{ faq.question }}" />
                          </div>
                          <div class="form-group">
                            <label for="exampleInputAnswer">Answer</label>
                            <textarea class="form-control" id="answer" name="answer" rows="3">{{ faq.answer }}</textarea>
                          </div>
                          <button type="submit" class="btn btn-primary">Edit FAQ</button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- delete modal -->
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addfaqLabel">DELETE FAQ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                        <p class="mb-2" style="color: red;font-size: 20pt;text-align: center;">Are you sure you want to permanently remove this FAQ?</p>
                        
                        <form action="" method="post" style="align-items: center;" class="text-center">
                          {% csrf_token %}
                          <input type="text" name = "form-name" id="" value="delete"  hidden />
                          <input type="text" name="faq_id" id="" value="{{ faq.id }}"  hidden />
                          <button type="submit" class="btn btn-primary" style="text-align: center;">Yes</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </form>
                      </div>
                      <div class="modal-footer">
                        
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
      <!-- check if user is logged in and is admin -->
      {% if user.is_authenticated and user.is_staff %}
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addfaq">Add Faq</button>
      {% endif %}
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="addfaq" tabindex="-1" role="dialog" aria-labelledby="addfaq" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addfaqLabel">Add FAQ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {% csrf_token %}
          <input type="text" name = "form-name" id="" value="add"  hidden />
          <div class="form-group">
            <label for="questionHelp">Question</label>
            <input type="text" class="form-control" id="questionHelp" name="question" aria-describedby="questionHelp" placeholder="Enter question" />
          </div>
          <div class="form-group">
            <label for="exampleInputAnswer">Answer</label>
            <textarea class="form-control" id="answer" name="answer" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save FAQ</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
