{% load static %}
<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Why Choose us</h2>
      <p>Our platform is designed with your convenience in mind. With a range of features built to simplify and secure your county land rate payments, you can manage everything effortlessly.</p>
    </div>

    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
        <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-receipt"></i>
          <h4>Fast & Easy Payments</h4>
          <p>Complete your land rate payments in just a few simple steps, saving you time and effort.</p>
        </div>
        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-cube-alt"></i>
          <h4>Secure Transactions</h4>
          <p>We use advanced encryption to protect your personal data and ensure that every transaction is safe.</p>
        </div>
        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-images"></i>
          <h4>Multi-County Support</h4>
          <p>Manage and pay land rates for multiple counties, all from one convenient platform.</p>
        </div>
        <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-shield"></i>
          <h4>24/7 Accessibility</h4>
          <p>Make payments at any time, from anywhere, with no need to visit a county office.</p>
        </div>
      </div>
      <div class="image col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
        <img src="{% static '/landing/assets/img/features.svg' %}" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
