{% extends 'landing/base.html' %}
{% block hero %}
  <!-- ======= Hero Section ======= -->
  {% include 'landing/parts/hero.html' %}
  <!-- End Hero -->
{% endblock %}

{% block mainBody %}
  <!-- ======= About Section ======= -->
  {% include 'landing/parts/about.html' %}
  <!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  {% comment %} {% include 'landing/parts/counts.html' %} {% endcomment %}
  <!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  {% include 'landing/parts/services.html' %}
  <!-- End Services Section -->

  <!-- ======= Features Section ======= -->
  {% include 'landing/parts/features.html' %}
  <!-- End Features Section -->

  <!-- ======= Testimonials Section ======= -->
  {% comment %} {% include 'landing/parts/testimonials.html' %} {% endcomment %}
  <!-- End Testimonials Section -->

  <!-- ======= Portfolio Section ======= -->
  {% comment %} {% include 'landing/parts/portfolio.html' %} {% endcomment %}
  <!-- End Portfolio Section -->

  <!-- ======= Pricing Section ======= -->
  {% comment %} {% include 'landing/parts/pricing.html' %} {% endcomment %}
  <!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  {% include 'landing/parts/faqs.html' %}
  <!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  {% include 'landing/parts/contacts.html' %}
  <!-- End Contact Section -->
{% endblock %}
